<ul (drop)="drop($event)" (dragover)="allowDrop($event)" >
    <li *ngFor="let node of Item.children || []" id="{{node.name}}" draggable="true" (dragstart)="drag($event)">
        <label (click)="expand(node)">{{node.name}}</label>
        <i  (click)="remove(node)">-</i>        
        <treenode *ngIf="node.expanded" 
            [Item]="node"
            (onTreeNodeLoadChildren)="children($event)"
            (onTreeNodeSelect)="select($event)"
            (onTreeNodeSave)="save($event)"
            (onTreeNodeRemove)="remove($event)">
        </treenode>        
    </li>
    <li (drop)="$event.preventDefault();" (click)="save(Item)">+</li>
</ul>